<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SmartCreateClass.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SmartCreateClass.Properties.Settings>
            <setting name="prefix_path" serializeAs="String">
                <value>../Sources</value>
            </setting>
            <setting name="skip_filters_count" serializeAs="String">
                <value>1</value>
            </setting>
        </SmartCreateClass.Properties.Settings>
    </userSettings>
</configuration>